@import "../variables";

.category {
  width: min-content;
}

.category-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px 30px;
  justify-items: center;
}

.category-image {
  font-family: "Chalk cyrillic freehand";
  font-size: 90px;
  width: 200px;
  height: 200px;
  background: $categoryImageBackground;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-image {
  font-size: 35px;
  text-align: center;
}

.category-name {
  text-align: center;
  padding: 10px 0;
  word-wrap: break-word;
}

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
